.book-item-card {
    border: 1px solid #23a2f6;
    border-radius: 5px;
    width:30%;
    height: 500px;
    margin: 20px;
}

.book-cover {
    float: left;
    width:300px;
    max-height: 200px;
    border: none;
    /* max-width: 50%; */
    display: flex;
    flex-direction: column;
}

.book-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.more-info {
    margin:10px;
    display: block;
}